@tailwind base;
@tailwind components;
@tailwind utilities;


video {
  transform: scaleX(-1);
}

video::-webkit-media-controls-enclosure {
  transform: scaleX(-1);
}
@keyframes moveUp {
  0% {
    transform: translateY(100px);  /* Start below the container */
  }
  100% {
    transform: translateY(0);  /* End at the normal position */
  }
}
